<!DOCTYPE html>
<html>
  <head>
    <title>Boxed</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <% if current_player %>
      <meta name='current-player-dom-id' content='<%= dom_id(current_player) %>' data-turbo-track='reload'>
    <% end %>
  </head>

  <body>
    <%= link_to "Sign out", destroy_player_session_path, :method => :delete %>
    <%= yield %>
  </body>
</html>
